<section class="category-expense-container">
  <button class="home-button" (click)="voltar()">Voltar</button>
  <div class="left-section">
    <button class="criar-edit-trash" (click)="openModal('create')">Criar limite</button>
    <button class="criar-edit-trash" [class.cancel-mode]="isEditing" (click)="toggleEditMode()">
      {{ isEditing ? 'Cancelar Edição' : 'Editar limite' }}
    </button>
    <button class="criar-edit-trash" [class.cancel-mode]="isRemoving" (click)="toggleRemoveMode()">
      {{ isRemoving ? 'Cancelar Remoção' : 'Remover limite' }}
    </button>
  </div>

  <div class="main-content">
    <!-- Lista de categorias de despesas -->
    <div class="category-list">
      
      <h2>Limites de despesas cadastrados</h2>
      <ul>
        <li *ngFor="let target of expensesTarget">
          <div>
            <strong>Categoria:</strong> {{ target.categoria }}<br>
            <strong>Valor limite:</strong> {{ target.valorLimite }}<br>
            <strong>Periodo:</strong> {{ target.periodo }}<br>
          </div>
          <button class="edit-remove" *ngIf="isEditing" (click)="openEditModal(target)">
            <img src="assets/edit-bnt.png">
          </button>
          <button class="edit-remove" *ngIf="isRemoving" (click)="onSubmitRemove(target.uuid!)">
            <img src="assets/trash-bnt.png">
          </button>
        </li>
      </ul>
    </div>

    <!-- Modal Criar limite -->
    <div [ngClass]="{'modal': true, 'show-modal': modalType === 'create'}">
      <div class="modal-content">
        <button class="close" (click)="closeModal()">&times;</button>
        <h2>Criar Limite</h2>
        <form [formGroup]="createTargetExpenseForm" (ngSubmit)="onSubmitCreate()">

          <label for="categoria">Categoria</label>
          <div>
            <select id="categoria" formControlName="categoria" required>
              <option value="" disabled selected>Selecione uma categoria</option>
              <option *ngFor="let category of expenseCategories" [value]="category.nome">
                {{category.nome}}
              </option>
            </select>
          </div>

          <label for="valorLimite">Valor limite</label>
          <input type="number" formControlName="valorLimite"/>

          <label for="periodo">Periodo</label>
          <input type="month" formControlName="periodo" placeholder="Escolha o periodo"/>

          <button type="submit" [disabled]="createTargetExpenseForm.invalid">Criar Categoria</button>
        </form>
      </div>
    </div>

    <!-- Modal Editar categoria -->
  <div [ngClass]="{'modal': true, 'show-modal': modalType === 'edit'}">
    <div class="modal-content">
      <button class="close" (click)="closeModal()">&times;</button>
      <h2>Editar Limite</h2>
      <form [formGroup]="editTargetExpenseForm" (ngSubmit)="onSubmitEdit(editingTargetId!)">

        <label for="categoria">Categoria</label>
          <div>
            <select id="categoria" formControlName="categoria" required>
              <option value="" disabled selected>Selecione uma categoria</option>
              <option *ngFor="let category of expenseCategories" [value]="category.nome">
                {{category.nome}}
              </option>
            </select>
          </div>

          <label for="valorLimite">Valor limite</label>
          <input type="number" formControlName="valorLimite"/>

          <label for="periodo">Periodo</label>
          <input type="month" formControlName="periodo" placeholder="Escolha o periodo"/>

        <button type="submit" [disabled]="editTargetExpenseForm.invalid">Salvar Alterações</button>
      </form>
    </div>
  </div>

  </div>


</section>